<div class="container">
  <h1>Restaurant list:</h1>
  <hr/>
  <%= render "restaurants/list", restaurants: @restaurants %>
  <%= link_to 'Add new restaurant', new_restaurant_path, class: "btn btn-primary my-3 text-white text-decoration-none" %>
</div>
